{% extends 'visitor/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="container" style="width:500px;">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-4 text-primary font-weight-bold text-center">Book an Appointment</h1>
            <!-- Messages -->
                
            <!-- End Messages -->

                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group focused">
                        <label class="text-l"
                               for="input-first-name">Manager</label>
                        {{ app_form.manager|add_class:"form-control form-control-alternative" }}
                        {{ app_form.manager.errors }}
                    </div>
                    <div class="form-group focused">
                        <label class="text-l"
                               for="input-first-name">Appointment
                            Description</label>
                        {{ app_form.description|add_class:"form-control form-control-alternative" }}
                        {{ app_form.description.errors }}
                    </div>

                    <div class="form-group focused">
                        <label class="text-l"
                               for="input-first-name">Appointment Date</label>
                        {{ app_form.app_date|add_class:"form-control form-control-alternative" }}
                        {{ app_form.app_date.errors }}
                    </div>

                    <div class="form-group focused">
                        <label class="text-l"
                               for="input-first-name">Appointment Time</label>
                        {{ app_form.app_time|add_class:"form-control form-control-alternative" }}
                        {{ app_form.app_time.errors }}
                    </div>
                    <div class="form-group text-center"><input
                            type="submit"
                            value="Book"
                            class="btn btn-primary text-center"
                    /></div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}