{% load widget_tweaks %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Receptionist</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
   <!-- Vendor CSS Files -->
   <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
   <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
   <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <style>
    .logo span {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #012970;
      font-family: "Nunito", sans-serif;
      margin-top: 3px;
    }
    a{
      text-decoration:none
    }
  </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" style="background-color:#fff;">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="#" class="logo d-flex align-items-center">
          <img src="{% static 'images/logo.png' %}" alt="">
          <span>Smart Receptionist</span>
        </a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="{% url 'home' %}" style="color:#5D87FF;text-decoration:underline;">
              <i class="bi bi-arrow-left" style="font-size:1.5vw"></i>
              Back to Home</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" style="padding-top:10vh">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100" style="margin: 8vh 0">
        <div class="row justify-content-center w-100">
          <div class="col-md-4 col-lg-4 col-xxl-2" style="min-height:100%;padding-right:0;">
            <div class="card mb-0" style="min-height:100%;background-color:#5D87FF">
              <div class="card-body" style="min-height:100%; display:flex; align-items:center">
                <img src="{% static 'images/forms/registrationForm.png' %}" width="100%">
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-8 col-xxl-4" style="padding-left:0">
            <div class="card mb-0">
              <div class="card-body">
                
                <a href="#" class="logo d-flex align-items-center" style="display:flex;width:100%; justify-content:center; margin:5vh 0">
                  {% comment %} <img src="{% static 'images/logo.png' %}" alt=""> {% endcomment %}
                  <span>Register</span>
                </a>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label" for="input-username">Username</label>
                        {{ registration_form.username|add_class:"form-control" }}
                        {{ registration_form.username.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-email">Email</label>
                        {{ registration_form.email_address|add_class:"form-control" }}
                        {{ registration_form.email.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-firstname">First Name</label>
                        {{ registration_form.first_name|add_class:"form-control" }}
                        {{ registration_form.first_name.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-lastname">Last Name</label>
                        {{ registration_form.last_name|add_class:"form-control" }}
                        {{ registration_form.last_name.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-dob">Date of Birth</label>
                        {{ registration_form.dob|add_class:"form-control" }}
                        {{ registration_form.dob.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-city">City</label>
                        {{ registration_form.city|add_class:"form-control" }}
                        {{ registration_form.city.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-country">Country</label>
                        {{ registration_form.country|add_class:"form-control" }}
                        {{ registration_form.country.errors }}
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="input-postcode">Address</label>
                      {{ registration_form.address|add_class:"form-control" }}
                      {{ registration_form.address.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-postcode">Postcode</label>
                        {{ registration_form.postcode|add_class:"form-control" }}
                        {{ registration_form.postcode.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Profile Picture</label>
                        {{ registration_form.image|add_class:"form-control" }}
                        {{ registration_form.image.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Password</label>
                        {{ registration_form.password1|add_class:"form-control" }}
                        {{ registration_form.password1.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Re-confirm Password</label>
                        {{ registration_form.password2|add_class:"form-control" }}
                        {{ registration_form.password2.errors }}
                    </div>
                  <input type="submit" class="btn w-100 py-8 fs-4 mb-4 rounded-2 fw-bold" style="background-color:#5D87FF; color:white" value="Register">
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 ">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'home' %}">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>