{% load widget_tweaks %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Receptionist</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100" style="margin: 2vw 0">
        <div class="row justify-content-center w-100">
          <div class="col-md-4 col-lg-4 col-xxl-2" style="min-height:100%;padding-right:0;">
            <div class="card mb-0" style="min-height:100%;background-color:#9D8ACA">
              <div class="card-body" style="min-height:100%; display:flex; align-items:center">
                <img src="{% static 'images/forms/registrationForm.png' %}" width="100%">
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-8 col-xxl-4" style="padding-left:0">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Smart Receptionist</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label" for="input-username">Username</label>
                        {{ registration_form.username|add_class:"form-control" }}
                        {{ registration_form.username.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-email">Email</label>
                        {{ registration_form.email_address|add_class:"form-control" }}
                        {{ registration_form.email.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-firstname">First Name</label>
                        {{ registration_form.first_name|add_class:"form-control" }}
                        {{ registration_form.first_name.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-lastname">Last Name</label>
                        {{ registration_form.last_name|add_class:"form-control" }}
                        {{ registration_form.last_name.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-dob">Date of Birth</label>
                        {{ registration_form.dob|add_class:"form-control" }}
                        {{ registration_form.dob.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-city">City</label>
                        {{ registration_form.city|add_class:"form-control" }}
                        {{ registration_form.city.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-country">Country</label>
                        {{ registration_form.country|add_class:"form-control" }}
                        {{ registration_form.country.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-postcode">Postcode</label>
                        {{ registration_form.postcode|add_class:"form-control" }}
                        {{ registration_form.postcode.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Profile Picture</label>
                        {{ registration_form.image|add_class:"form-control" }}
                        {{ registration_form.image.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Password</label>
                        {{ registration_form.password1|add_class:"form-control" }}
                        {{ registration_form.password1.errors }}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="input-image">Re-confirm Password</label>
                        {{ registration_form.password2|add_class:"form-control" }}
                        {{ registration_form.password2.errors }}
                    </div>
                  <input type="submit" class="btn w-100 py-8 fs-4 mb-4 rounded-2" style="background-color:#9D8ACA; color:white" value="Register">
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'index' %}">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>