{% extends 'adminTemp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Admins</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-primary text-uppercase mb-1">
                                    Total Admins
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-success text-uppercase mb-1">
                                    Approved Admins
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_approved }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Approval
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_pending }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row: Pending Appointments -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pending Admins</h6>
                    </div>
                    <div class="card-body">

            <!-- Messages -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            <!-- End Messages -->

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Picture</th>
                                    <th>Admin</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Approval</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for a in adm_details %}
                                    <tr>
                                        <td>{{ a.id }}</td>
                                        <td class="text-center"><img src="{{ a.image.url }}" width="60 px"
                                                                     height="60 px" class="rounded-circle">
                                        </td>
                                        <td>{{ a.first_name }} {{ a.last_name }}
                                        </td>
                                        <td>{{ a.address }}, {{ a.postcode }}, {{ a.city }}, {{ a.country }}</td>
                                        {% if a.status is True %}
                                            <td><b>Approved</b></td>
                                        {% elif  a.status is False %}
                                            <td style="background-color: lightyellow">Pending</td>
                                        {% endif %}
                                        <td class="text-center"><a class="btn btn-primary" href="{% url 'approve_adm_action' a.id %}">Approve</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center">
            <a href="{% url 'admin_admin' %}"><button type="button" class="btn btn-primary">Back to Main View</button></a>
            <button type="button" class="btn btn-primary" disabled>Approve Admins</button>
            <a href="{% url 'view_all_admin' %}"><button type="button" class="btn btn-primary">View All Admins</button></a>
        </div>


        <!-- End of Main Content -->
        <div id="divider-space-50"></div>
    </div>
{% endblock %}