{% extends 'adminTemp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Visitors</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-primary text-uppercase mb-1">
                                    Total Visitors
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cust_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-success text-uppercase mb-1">
                                    Approved Visitors
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cust_approved }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Approval
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cust_pending }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row: Recent Pending Visitors -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Active Visitors</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Picture</th>
                                    <th>Visitor</th>
                                    <th>Date of Birth</th>
                                    <th>Company Name</th>
                                    <th>Company Address</th>
                                    <th>Status</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for c in cust_details %}
                                    <tr>
                                        <td>{{ c.0 }}</td>
                                        <td class="text-center"><img src="{{ c.1 }}" width="60 px"
                                                                     height="60 px" class="rounded-circle">
                                        </td>
                                        <td>{{ c.2 }} {{ c.3 }}</td>
                                        <td>{{ c.4 }}</td>
                                        <td>{{ c.5 }}</td>
                                        <td>{{ c.6 }}, {{ c.7 }}, {{ c.8 }}, {{ c.9 }}</td>

                                        {% if c.10 is True %}
                                            <td style="background-color: lightgreen"><b>Approved</b></td>
                                        {% elif  c.10 is False %}
                                            <td style="background-color: lightyellow">Pending</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center">
            <a href="{% url 'admin_visitors' %}"><button type="button" class="btn btn-primary">Back to Main View</button></a>
            <button type="button" class="btn btn-primary" disabled>View Active Visitors</button>
        </div>


        <!-- End of Main Content -->
        <div id="divider-space-50"></div>
    </div>
{% endblock %}