{% extends 'adminTemp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Admins</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-primary text-uppercase mb-1">
                                    Total Admins
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_count }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-success text-uppercase mb-1">
                                    Approved Admins
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_approved }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Approval
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ adm_pending }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Content Row: Recent Pending Visitors -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">All Admins</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Admin</th>
                                    <th>Date of Birth</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for a in adm_details %}
                                    <tr>
                                        <td>{{ a.0 }}</td>
                                        <td>{{ a.1 }} </td>
                                        <td>{{ a.3 }}</td>
                                        <td> {{ a.4 }} {{ a.5 }}, {{ a.6 }}, {{ a.7 }}</td>
                                        {% if a.8 is True %}
                                            <td style="background-color: lightgreen"><b>Approved</b></td>
                                        {% elif  a.8 is False %}
                                            <td style="background-color: lightyellow">Pending</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center">
            <a href="{% url 'admin_admin' %}"><button type="button" class="btn btn-primary">Back to Main View</button></a>
            <a href="{% url 'approve_admin' %}"><button type="button" class="btn btn-primary">Approve Admins</button></a>
            <button type="button" class="btn btn-primary" disabled>View All Admins</button>
        </div>


        <!-- End of Main Content -->
        <div id="divider-space-50"></div>
    </div>
{% endblock %}